*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

video{
    min-width: 104%;
    min-height: 102vh;
    object-fit: cover;
}

.notes{
    position: absolute;
    bottom: 2px;
    left: 2px;
    width: 104%;
    height: 22vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.notes h3{
    font-size: 52px;
    color: white; 
}
